
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
meta(name="format-detection", content="telephone=no")
title #{page.title}
meta(name="description", content=page.description)
meta(name="keywords", content=page.keywords)

//- meta(name="robots" content="noindex,nofollow")

if key === "top"
  meta(property="og:type", content="website")
else
  meta(property="og:type", content="article")
meta(property="og:local", content="ja_JP")
meta(property="og:site_name", content=page.sitename)
meta(property="og:title", content=page.title)
meta(property="og:description", content=page.description)
meta(property="og:url", content=page.url)
meta(property="og:image", content=page.ogp)

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content=page.title)
meta(name="twitter:description", content=page.description)
meta(name="twitter:image", content=page.ogp)

script(type="application/ld+json").
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "#{page.sitename}",
    "url": "#{page.url}",
    "inLanguage":"jp",
    "publisher": {
      "@type": "Organization",
      "name": "#{page.copyright}",
      "logo": {
        "@type": "ImageObject",
        "url": "#{page.ogp}"
      }
    },
    "headline":"#{page.title}",
    "description":"#{page.description}"
  }
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap")
link(rel="icon", href="/favicon.ico")
link(rel="canonical", href=page.url)
link(rel="stylesheet", href="/wp_2022/wp-content/themes/z_sample01/assets/css/app.css")
//- if key !== "top"
  link(rel="stylesheet", href="/_assets/css/" + key + ".css")
